extends ../layouts/common.pug

block content

    h1 List Products
        .row
            
                each product in products
                    .col-md-4
                        .card
                        img.card-img-top(src=product.image, alt='Card image cap')
                        .card-body
                            h5.card-title= product.name
                            p.card-text= product.desc
                            a.btn.btn-primary(href='#') Go somewhere